.modalBg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modalBgOpen {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
  animation-name: modalBgOpenAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  background-color: rgba(255, 255, 255, 0.8);
}

.modalBgClose {
  background-color: transparent;
  z-index: -1;
  transition-duration: 1s;
  transition-delay: 2s;
}

@keyframes modalBgOpenAnimation {
  from {
    background-color: transparent;
    z-index: -1;
  }
  to {
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
  }
}

.modalOpen {
  transform: translate(-50%, -50%);
  transition: 1s;
}

.modalClose {
  transform: translate(-50%, -400%);
  transition-duration: 1s;
  transition-delay: 2s;
}

.modalBox {
  width: 335px;
  height: 430px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    linear-gradient(180deg, #b6d2fc 0%, rgba(242, 242, 242, 0) 156.05%), #fff;
}

.modalBtn {
  width: 101px;
  height: 33px;
  border-radius: 30px;
  border: 1px solid black;
  font-size: 20px;
  letter-spacing: -1.2px;
  font-weight: 400;
  position: absolute;
  top: 80%;
  left: 33.6%;
}

.modalText {
  letter-spacing: -1.2px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
